<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update A User</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="topnav">
        <a href="/">Home</a>
        <a href="/create">Create Users</a>
    </div>
    <div class="form">
        <form action="/update-user" method="POST">
            <fieldset>
                <legend>Update a user:</legend>
                <div class="input-group d-none">
                    <label>Id</label>
                    <input type="text" name = "userId" value = "<%= userEdit.id%>" name = "email"/>
                </div>
                <div class="input-group">
                    <label>Email</label>
                    <input type="text" value = "<%= userEdit.email%>" name = "email"/>
                </div>
                <div class="input-group">
                    <label>Name</label>
                    <input type="text" value = "<%= userEdit.name%>" name ="myname"/>
                </div>
                <div class="input-group">
                    <label>City</label>
                    <input type="text" value = "<%= userEdit.city%>" name ="address"/>
                </div>
                <div>
                    <button>Save</button>
                </div>
            </fieldset>
        </form>
    </div>
</body>

</html>